.trainerImg {
  width: 150px;
  height: 200px;
  border: 1px solid greenyellow;
  
}

.trainerSelection {
  display: flex;
  flex-direction: column;
  width: 80px;
  position: relative;
  top: -42vw;
  left: 26%;

}

.trainerSelection p {
  font-size: 1em;
  line-height: normal;
  margin:0;
}

button .chooseBtn {
  width: 40px;
}

span {
  color: greenyellow;
}
