.window {
    height: 39.8vw;
    border-radius: 7px;
    position: absolute;
    top: 0vw;
    right: 29.3vw;
    opacity: 0.8;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
}

.questionAnswer {
    position: relative;
    top: -38.4vw;
    left: 32.5%;
}

p {
  color: white;
}

button {
  border: 1px solid greenyellow;
  background-color: RGBA(255,255,255,0);
  color: greenyellow;
  margin: 0 5px;
  position: relative;
  left: -8.8%;
}
